@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Hệ thống đã gửi email xác nhận đến <a href="http://@ViewBag.Email">@ViewBag.Email</a> </h2>
<br />
<div class="row">
    <div class="col-md-8">
        Vui lòng kiểm tra hộp thư email của bạn,
        <br />Tài khoản sẽ không thể đăng nhập cho đến khi được kích hoạt.
        <br />Xin cảm ơn.
    </div>
</div>

