
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanh toán thành công @ViewBag.Complete</h2>
<p>Quay lại <a href="/Home/Index" title="Trang chủ">Trang chủ</a></p>

