
@{
    ViewBag.Title = "Upgrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Nâng cấp chức năng bán</h2>
<p>Với chi phí $5.0, chức năng bán sản phẩm được sử dụng trong 30 ngày.</p>
<br />
<form action="@System.Configuration.ConfigurationManager.AppSettings["urlSubmitPayment"]" method="post">

    <!-- Identify your business so that you can collect the payments. -->
    <input type="hidden" name="business" value="@System.Configuration.ConfigurationManager.AppSettings["accountBusiness"]">
    <input type="hidden" name="return" value="@System.Configuration.ConfigurationManager.AppSettings["urlReturn"]" />

    <!-- Specify a Buy Now button. -->
    <input type="hidden" name="cmd" value="_xclick">

    <!-- Specify details about the item that buyers will purchase. -->
    <input type="hidden" name="item_name" value="Checkout">
    <input type="hidden" name="amount" value="5">
    <input type="hidden" name="currency_code" value="USD">

    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0"
           src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
           alt="PayPal - The safer, easier way to pay online">
    <img alt="" border="0" width="1" height="1"
         src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

</form>

